<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bright Boost</title>
</head>
<body>
    {% block content %}
    <h1>Welcome this is the homepage</h1>
    {% if user.is_authenticated %}
         Hello {{user}}! You are logged in.<br><a href="{% url 'login' %}">Logout here.</a></p>
         {% else %}
         <a href="{% url 'login' %}">Login</a><br>
         <a href="{% url 'register' %}">Register</a><br><br>
    {% endif %}
    
    {% endblock %}
</body>
</html>