/*-----All pages ------*/

body {
  font-family: Julius Sans One;
  margin: 0;
  display: flex;
  padding-top: 100px;
  justify-content: center;
  background-color: #f5f5f5;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1.5;
  flex-direction: column;
}

h1 {
  font-family: Julius Sans One;
  text-align: center;
  margin: 1em 1em auto 1em;
  color: #3d1959;
}

a {
  text-decoration: none;
  color: #e5dc8d;
  font-weight: bold;
}

a:hover {
  color: rgb(225, 237, 249);
}

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  grid-template-columns: 1fr auto;
  border-bottom: 1px solid #ccc;
  padding: 0.5em 1em;
  display: flex;
  justify-content: space-between;
  background-color: #3d1959;
  color: #e5dc8d;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  font-family: Julius Sans One;
  font-weight: 400;
  font-size: 1.4em;
  margin-left: 10px;
}

.star-img {
  width: 40px;
  margin-left: 10px;
}

.site-navigation ul,
.site-navigation li {
  margin: 0;
  padding: 0;
}

.site-navigation li {
  display: inline-block;
  margin: 1.4em 1em 1em 1em;
}

/*-----statistics user page

------*/

.statistics-chart {
  padding-top: 10%;
}

.quiz-chartTip {
  padding: 5px 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 3px 3px 10px rgba(6, 6, 6, 0.1);
  position: absolute;
  z-index: 50;
  max-width: 250px;
}

.quiz-graph {
  padding: 10px;
  height: 370px;
  width: 100%;
}

.quiz-graph .x-labels {
  text-anchor: middle;
}

.quiz-graph .y-labels {
  text-anchor: end;
}

.quiz-graph .quiz-graph-grid {
  stroke: #ccc;
  stroke-dasharray: 0;
  stroke-width: 1;
}

.label-title {
  text-anchor: middle;
  text-transform: uppercase;
  font-size: 12px;
  fill: rgba(111, 110, 111, 0.506);
}

.quiz-graph-dot,
.quiz-graph-start-dot {
  fill: rgb(15, 2, 9);
  stroke-width: 2;
  stroke: white;
}

/*-----view user page ------*/

.user-table {
  margin-top: 5%;
}

table {
  margin: 0 auto;
  font-size: large;
  border: 1px solid black;
}

.user-table h1 {
  text-align: center;
  color: #3d1959;
  font-size: xx-large;
}

td {
  background-color: #e5dc8d;
  border: 1px solid black;
}

th,
td {
  font-weight: bold;
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}

td {
  font-weight: lighter;
}

/*-----upload timetable page ------*/

.grid-container {
  display: grid;
  font: 0.9em "Krub", sans-serif;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.8em;
  padding: 2.5em;
  border-radius: 3em;
  margin: 2em;
  background-color: #3d1959;
  color: aliceblue;
  box-shadow: 3px 4px 3px #24033c;
}

.grid-container label {
  text-align: right;
}

.grid-container input,
.grid-container button {
  grid-column: span 1;
}

.grid-container .button {
  grid-column: span 2;
  text-align: center;
}

.grid-container .button button {
  background-color: #f9f9f9;
  color: #3d1959;
  border: 3px solid #e5dc8d;
  padding: 0.6em 0.8em;
  border-radius: 1em;
  cursor: pointer;
}

.grid-container .button {
  justify-self: center;
  margin-top: 1em;
}

div .frame {
  border-radius: 3em;
  border: 1px solid #3d1959;
  margin-top: 10%;
}
